
<fieldset>
<legend>Add Ingredients</legend>
<p>
    <label>Ingredient</label>
    <input type="text" name="">
</p>
<p>
    <label>Ingredient</label>
    <input type="text" name="">
</p>
<p>
    <label>Ingredient</label>
    <input type="text" name="">
</p>
</fieldset>